<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Quiz</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
<h1>Credits</h1>
<a href="/">Home</a>
<a href="/credits">Credits</a>

<p>This websitehas been created by me:</p>
<h2>ALBERTO</h2>
</body>
</html>
