<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Quiz</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
<h1>Credits</h1>
<a href="/">Home</a>
<a href="/quizzes">Lista de quizzes</a>

<p>Bienvenido al quiz de  <%= title %></p>
</body>
</html>
